.root-card-class {
    background: #ececec;
    display: flex;


}

.our-story-img {
    margin-top: 50px;
    margin-bottom: 50px;

    margin-right: 50px;
}

.our-story-heading {
    margin-top: 70px;
    margin-left: 300px;
    font-size: xx-large;
    font-family: math;
    /* text-shadow: .1em .1em 0 hsl(200 50% 30%); */
}

.our-story-text {
    margin-left: 100px;
    margin-right: 100px;

}