.site-card-border-less-wrapper {
    padding: 30px;
    background: #ececec;
    text-align: center;
    display: -webkit-box;
    
}

.card-button-register{
    margin-left: 20px;
}


.button-in-about-us-page{
   display:-webkit-inline-box;
}

