.root-card-class-mobile {
    background: rgba(130, 118, 204, 0.307);
    display: block;

}

.root-card-class {
    background: #ececec;
    display: flex;
    width: 100%;

}


.our-story-img {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 20px;

}

.image-in-card {
    width: 100%;
    object-fit: cover;
}

.our-story-heading {
    margin-top: 70px;
    font-size: xx-large;
    font-family: math;
    /* text-shadow: .1em .1em 0 hsl(200 50% 30%); */
}

.our-story-heading-mobile {
    font-size: xxx-large;
    font-family: math;
    margin-bottom: 20px;
}

.our-story-text-mobile {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;

}

.our-story-text {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;

}