@media only screen and (max-width: 768px) {




}




.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.footer-content {
  background: #ececec;

  margin-top: auto;
}


.content {
  height: auto;
  width: auto;
}