


.App-link {
  color: #61dafb;
}




.footer-content {
  background: #ececec;

  margin-top: auto;
}


.content {
  margin-top: 15px;
  background-color: #ECECEC;
  height: auto;
  width: auto;
}


@media screen and (max-width: 768px) {



}