.pets-heading {
    padding-top: 10px;
    text-align: center;
}




.pets-catalog-wraper {
    margin-left: 22px;
    margin-right: auto;
    height: 510px;
    border: solid 2px #C6E5F1;
    border-radius: 20px;
    background: rgba(150, 197, 217, 0.36);
}

.pets-catalog-rail {
    display: inline-flex;
    margin-top: 25px;

}

.add-new-pet-button {
    width: 150px;
    border-radius: 20px;
    border: 2px solid black;
    color: white;
    background: rgba(150, 197, 217, 0.36);
    padding: 0px;
    text-align: center;
    margin-left: 25px;
    margin-top: 12em;
    text-shadow: 2px 3px 5px black;
}

.add-new-pet-button:hover {

    box-shadow: 2px 3px 5px black;
}

.add-new-pet-button :active {
    box-shadow: 2px 3px 5px black;

}


.paginator {
    margin-top: 20px;
}

.paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: solid 2px #C6E5F1;
    color: grey;
    cursor: pointer;
}

.paginationBttns a:hover {
    color: white;
    background-color: #2b2eff;
}

.paginationActive a {
    color: white;
    background-color: #C6E5F1;
}

.paginationDisabled a {
    color: grey;
    background-color: grey;
}