.inside-sign-up-card {
    margin-top: 7em;
    margin-bottom: 4em;
    background: #ececec;


}

.register-button {

    margin-top: 20px;
}

.form-class {
    display: inline-grid;
}

.sign-up-card {
    max-width: auto;
    text-align-last: center;
    background: #ececec;


}