.box{
    position: relative;
}

.input {
    padding: 10px;
    width: 76px;
    height: 50px;
    background: none;
    border: 4px solid #68988C;
    border-radius: 50px;
    box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
    font-size: 26px;
    color: #68988C;
    outline: none;
    transition: .5s;
}
.box:hover input{
    width: 355px;
    background: #3b3640;
    border-radius: 10px;
}
.box i{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: #68988C;
    transition: .2s;
}
.box:hover i{
    opacity: 0;
    z-index: -1;
}