.details-pet-card-our-catalog {
    background-color: rgb(255, 255, 255);
    text-align: center;
    border: 1px solid red;
    height: 330px;
    margin: 15px;
    width: 230px;
    border: 1px solid black;
    -webkit-box-shadow: 6px -4px 8px -2px #000000;
    box-shadow: 6px -4px 8px -2px #000000;
}

.imgs {
    width: 190px;
    height: 150px;
    width: 100%;
}

.card-button-our-catalog {
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(33, 21, 21);
    color: white;
    width: 30%;
    text-decoration: none;
    margin: 20px;
}

.card-button-our-catalog:hover {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    background-color: grey;
    color: white;
}

.link-a {
    text-decoration: none;
    color: white;
}

.link-a:hover {
    color: white;
}

.card-button-our-catalog:active {
    -webkit-box-shadow: 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}


.details-pet-card {

    border: 2px solid black;
}