/* .navigation-bar {
    display: inline-block;
} */



.menuTwo {
     margin-left: 200px;
}

.menuThree {

 margin-right: 100px;
}



/* 
.menuOne {
    margin-right: auto;
    display: inline-block;
} */