@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

h3{
  font-family: 'Poppins', sans-serif;
}

img {
  width: 720px;
  height: 420px;
  border-radius: 20%;

}

.container {
  height: 530px;
  width: auto;
  border-radius: 20%;
  display: grid;
  place-items: center;
  background-color: #84bdd2;

  box-shadow: 2px 1px 10px #1b3742;
  /* border: 1px solid red; */
}

.inside-container {
  height: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid green; */
}

.inside-container button {
  width: 150px;
  border-radius: 20px;
  border: 2px solid black;
  color: white;
  background: #F0F8FF;
  padding: 0px;
  text-align: center;
  margin-top: 20px;
  color: #171425;

  box-shadow: 2px 1px 10px #54B3D6;
  margin-bottom: 20px;

}

.inside-container button:active {
  box-shadow: 2px 3px 5px black;
}


.wrapper {
  display: flex;
  align-items: center;
  height: 555px;
}

@media screen and (max-width: 768px) {

  img {
    width: 420px;
    height: 320px;
    border-radius: 20%;

  }
  






}