.inside-login-card {
    background: #F0F8FF;

}

.login-heading-class{
    padding-top: 40px;
}

.login-button-class{
    width: 150px;
    border-radius: 20px;
    border: 2px solid black;
    color: white;
    background: #F0F8FF;
    padding: 0px;
    text-align: center;
    margin-top: 20px;
    color: #171425;
   
    box-shadow: 2px 1px 10px #54B3D6;
    margin-bottom: 20px;
}

.login-button-class:active {
    box-shadow: 2px 3px 5px black;
}

.input-login-class-desktop {
    text-align: center;
    border-radius: 20px;
}

.input-login-class:active {
    box-shadow: 2px 3px 10px black;
}

.login-card-desktop {
    text-align: -webkit-center;
    background: #ececec;
}

.form-class-login-desktop {
    width: 250px;
    border-radius: 20px;
    border: 2px solid black;
    color: white;
    background: #F0F8FF;
    padding: 0px;
    text-align: center;
    margin-top: 20px;
    color: #171425;
    /* text-shadow: 2px 3px 5px black; */
    box-shadow: 2px 1px 10px #54B3D6;
}




/* css for tablet */

.login-card-tablet {
    text-align: -webkit-center;
    background: #ececec;
}

.form-class-login-tablet {
    display: inline-grid;
}

/* css for mobile */

.login-card-mobile {
    text-align: -webkit-center;
    background: #ececec;
}

.form-class-login-mobile {
    display: inline-grid;
}