.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    margin-top: 5px;
    border-radius: 5px;
}

.profile-img-class {
    width: 100px;
    height: 100px;
}

.user-profile-heading {
    text-align: center;
    padding-top: 40px;
}

.card {
    width: 350px;
    border: 1px solid black;
    margin-top: 4em;
    -webkit-box-shadow: 6px -4px 8px -2px #000000;
    box-shadow: 6px -4px 8px -2px #000000;
    padding: 10px;
    text-align: -webkit-center;
    background-color: whitesmoke;
    opacity: 0.9;
    margin-bottom: 100px;
}




.user-info {
    text-align: left;
    margin-top: 10px;
    margin-left: 70px;
}

.user-info div {

    font-size: 18px;
}


.my-pets-button {
    height: 45px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: rgb(33, 21, 21);
    color: white;
    width: 40%;
    margin-bottom: 30px;
}

.my-pets-button:hover {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    background-color: grey;
}

.my-pets-button:active {
    -webkit-box-shadow: 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

/* .my-pets-button:hover {
    background-color: #8b61d9
} */

.my-pets-button:active {
    box-shadow: 2px 3px 5px black;
}


.loader-wraper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

.social-media{
    margin-top: 20px;
}

.social-media ul li i {
    width: 55px;
}

.social-media ul li {
    width: 100%;
    display: inline;
    list-style: none;
    font-size: 20px;
}