/* h2 {
    
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */
.sk-chase-dot {
    width: 100%;
height: 100%;
position: absolute;
left: 0;
top: 0;
animation: sk-chase-dot 2.0s infinite ease-in-out both; 
}

.pet-label-class{
    font-weight: bold;;
}

.pet-info-wraper{
    text-align: center;
}

#petHeadig-class{
    text-align: center;
}

#pet-card {
    border-radius: 20px;
    border: solid 2px #C6E5F1;
    background-color: aliceblue;
    width: 200px;
    height: 460px;
    margin-left: 25px;
    box-shadow: 1px 1px 2px black, 0 0 25px #171425, 0 0 5px #686d67;
}

#card-img {
    margin-left: 20px;
    width: 150px;
    height: 80px;
    clip-path: circle();
}




#pet-info {
    margin-bottom: 5px;
    border-radius: 20px;
    text-align: center;
    border: solid 2px #C6E5F1;
}

#pet-card-buttons {
    text-align: center;
}

#pet-card-button {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 2px;
    border-radius: 20px;
    text-align: center;
    border: solid 2px #C6E5F1;
}
#pet-card-button:active{
    box-shadow: 2px 3px 5px black;

}