.pets-heading {
    text-align: center;
}



.pets-catalog-wraper {
    margin: 22px;
    height: 480px;
    border: solid 2px #C6E5F1;
    border-radius: 20px;
    background: rgba(150, 197, 217, 0.36);
}

.pets-catalog-rail {
    display: inline-flex;
    margin-top: 25px;

}

.add-new-pet-button{
    width: 150px;
   
    border-radius: 20px;
    border: 2px  solid black;
    color: white;
    background: rgba(150, 197, 217, 0.36);
    padding: 0px;
    text-align:center;
    margin-left: 25px;
    margin-top: 12em;
    text-shadow: 2px 3px 5px black;
}